<%- include('partials/header.ejs') %>

<%- include('layout.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bce85edea6.js" crossorigin="anonymous"></script>
<link href="https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css" rel="stylesheet"></link>

<div class="container" style="height: 80%;">
    <div class="img-fluid container music-box ">
        <div class="container f ">
            <img class="img-fluid col-12 cover shadow" src="<%= song.image %>">
            <div class="position-absolute top-0 p-3">
                <button onclick="goBack()" class="bg-transparent border-0 none-click">
                    <i class="fad fa-arrow-circle-left" style="font-size: 40px; color: rgba(238, 242, 255, 0.808);"></i>
                </button>    
            </div>
            <div class="play-desc col-12">
                <div class="aaaa">
                    <div>
                        <p class="card-text songs aa"><%= song.name %></p>
                        <a href='/soulcast/artist/<%= song.artist %>' class="text-decoration-none"><p class="card-text artist bb"><%= song.artist %></p></a>
                    </div>
                    <div class="position-relative">
                        <% if(currentUser.plan === 'Free'){ %>
                                <% if(currentUser.favorite == ''){ %>
                                    <form action="/soulcast/play/fav/<%= currentUser._id %>" method="POST">
                                        <input name="fav" value="<%= song._id %>" hidden>
                                        <div class="heart">
                                            <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 end-0 translate-middle" aria-hidden="true" style="color: #30303056;"></i></button>
                                        </div>
                                    </form> 
                                <% } %>
                                <% currentUser.favorite.forEach(function(fav){ %>
                                    <% if(fav.equals(song._id)){ %>
                                        <form action="/soulcast/play/fav/delete/<%= currentUser._id %>" method="POST">
                                            <input name="delete" value="<%= song._id %>" hidden>
                                            <div class="heart">   
                                                <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 end-0 translate-middle" aria-hidden="true" style="color: #920606;"></i></button>
                                            </div>
                                        </form> 
                                    <% }else if(!(fav.equals(song._id))){ %>
                                        <form action="/soulcast/play/fav/<%= currentUser._id %>" method="POST">
                                            <input name="fav" value="<%= song._id %>" hidden>
                                            <div class="heart">
                                                <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 end-0 translate-middle" aria-hidden="true" style="color: #30303056;"></i></button>
                                            </div>
                                        </form>
                                    <% } %>
                                <% }); %> 
                        <% } else if(currentUser.plan === 'Soulcast Premium'){ %>
                            <% if(currentUser.favorite == ''){ %>
                                <form action="/soulcast/play/fav/<%= currentUser._id %>" method="POST">
                                    <input name="fav" value="<%= song._id %>" hidden>
                                    <div class="heart">
                                        <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 translate-middle pe-5" aria-hidden="true" style="color: #3030301f;"></i></button>
                                    </div>
                                </form> 
                            <% } %>
                            <% currentUser.favorite.forEach(function(fav){ %>
                                <% if(fav.equals(song._id)){ %>
                                    <form action="/soulcast/play/fav/delete/<%= currentUser._id %>" method="POST">
                                        <input name="delete" value="<%= song._id %>" hidden>
                                        <div class="heart">    
                                            <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 translate-middle pe-5" aria-hidden="true" style="color: #920606;"></i></button>
                                        </div>
                                    </form> 
                                <% }else if(!(fav.equals(song._id))){ %>
                                    <form action="/soulcast/play/fav/<%= currentUser._id %>" method="POST">
                                        <input name="fav" value="<%= song._id %>" hidden>
                                        <div class="heart">
                                            <button type="submit" class="dropdown-item py-1 bg-transparent border-0 none-click"><i class="fas fa-heart favorite active position-absolute top-50 translate-middle pe-5" aria-hidden="true" style="color: #3030302a"></i></button>
                                        </div>
                                    </form> 
                                <% } %>
                            <% }); %>                      
                        <div class="btn-group dropup position-absolute top-50 translate-middle end-0">
                            <button type="button" class="border-0 bg-transparent dropdown-toggle dropdown-toggle-menu none-click" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="far fa-ellipsis-v menup" style="font-size: 26px;"></i>
                            </button>
                            <ul class="dropdown-menu list-function">
                                <li><a class="dropdown-item py-2" href="/soulcast/artist/<%= song.artist %>"><span><i class="fas fa-user-music pe-2"></i>Go to artist</span></a></li>
                                <li><a class="dropdown-item py-2" href="<%= song.songs %>" download><i class="fas fa-download pe-2"></i>Download Song</a></li>
                                <li><a class="dropdown-item py-2" href="#"><i class="fad fa-share-alt pe-2"></i>Share Song</a></li>
                            </ul>
                        </div>           
                                  
                        <% } %> 
                    </div>
                    
                </div>   
                
                <audio controls autoplay class="col-12" controlsList="nodownload">
                    <source src="<%= song.songs %>" type="audio/mp3">
                </audio>
            </div>

        </div>
        <div class="container f ">
            <div class="lyric-box" id="scroll">
                <p class="lyric col-6 text-center"><%= song.lyric %></p>
            </div> 
            <div class="col-12 position-relative mt-4">
                <div class="position-absolute top-0 end-0">
                    <p class="date  text-end">Category : <%= song.category %></p>
                    <p class="date mb-4 text-end">Release Date : <%= song.releaseDate %></p><br>
                    <div class="position-absolute bottom-0 end-0 col-9 p-2 listen-now text-center shadow"><i class="fad fa-headphones-alt pe-2"></i><%= song.listen %></div>
                </div>

            </div>  
        </div>


        
    </div>
</div>

<script>
    var heart = document.querySelector('.favorite');
    function handleFavorite() {
    heart.classList.toggle('active');
    }
    var dropdown = document.querySelector('.down');
    function handleDropdoown(){
        dropdown.classList.toggle('active');
    }
    function goBack() {
  window.history.back();
}
</script>
<!-- wave -->
<!-- <div class="text-center">
    <img class="img-fluid col-12" id="wave2" src="https://i.pinimg.com/originals/50/85/e2/5085e244772c7c124489e02953c9b93e.png" width="1600px">
</div> -->

<!-- wave -->
<!-- <div class="text-center">
    <img class="img-fluid" id="wave2" src="https://i.pinimg.com/originals/75/5a/d6/755ad68ae845e650f718ff85b478e233.png" width="2200px">
</div> -->

<%- include('partials/footer.ejs') %>